* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Mulish", sans-serif;
  background-color: #F5FAFE;
  color: #333333;
}

.container {
  max-width: 1110px;
  margin: auto;
  padding: 0;
}

.star-icon {
  width: 8px;
  height: 8px;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

input {
  border-radius: 4px;
  background-color: #fff;
  border: none;
  padding: 18px 23px;
}

button {
  border-radius: 4px;
  border: none;
  background-color: #EC1F46;
  color: #fff;
}

textarea {
  border-radius: 4px;
  background-color: #fff;
  border: none;
}

.invalid {
  color: #EC1F46;
}

.lock {
  overflow: hidden;
}

.logo {
  width: 177px;
  margin-right: 108px;
}

.navbar {
  background-color: #fff;
}
.navbar-top {
  display: flex;
  align-items: center;
  padding: 40px 0px;
}
.navbar-top__menu-btn {
  display: none;
}
.navbar-bottom {
  background-color: #0A223D;
}
.navbar-menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 31px 0;
  margin: 0;
  color: #fff;
}
.navbar-menu__link {
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
  font-size: 14px;
  line-height: 18px;
  position: relative;
}
.navbar-menu__link::before {
  position: absolute;
  bottom: -5px;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  transform: scaleX(0);
  transition: all 0.25s;
}
.navbar-menu__link:hover::before {
  transform: scaleX(1);
}
.navbar-menu__item--mobile-visible {
  display: none;
}

.search {
  display: flex;
  position: relative;
  max-width: 350px;
  overflow: hidden;
  border-radius: 6px;
  border: none;
  margin-right: 368px;
}
.search__input {
  border: none;
  background-color: #F5FAFE;
  font-family: Mulish;
  font-size: 12px;
  line-height: 15px;
  padding-left: 23px;
  padding-right: 75px;
  color: #0A223D;
  height: 40px;
  width: 350px;
}
.search__button {
  border: none;
  border-radius: 0px 6px 6px 0px;
  width: 65px;
  height: 40px;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #EC1F46;
  cursor: pointer;
}
.search__image {
  width: 16px;
  height: 16px;
  transition: all 0.25s;
}
.search__image:hover {
  transform: scale(1.25);
}

.user {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.user__avatar {
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 40px;
  height: 40px;
  transition: all 0.35s;
}
.user__avatar:hover {
  transform: scale(1.2);
}
.user__name {
  margin-left: 18px;
  color: #0A223D;
  font-size: 14px;
  line-height: 18px;
  position: relative;
}
.user__name::before {
  position: absolute;
  bottom: -5px;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #0A223D;
  transform: scaleX(0);
  transition: all 0.25s;
}
.user__name:hover::before {
  transform: scaleX(1);
}

.navbar__user--mobile-visible, .navbar__search--mobile-visible {
  display: none;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.breadcrumbs {
  padding: 18px 0;
}
.breadcrumbs-list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
.breadcrumbs-list__item {
  font-size: 10px;
  line-height: 13px;
}
.breadcrumbs-list__item:not(:last-child)::after {
  content: "/";
  margin-right: 4px;
}
.breadcrumbs-list__link {
  text-decoration: none;
  color: inherit;
}

.hotel {
  padding: 14px 0px 68px 0;
}
.hotel-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.hotel-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #333333;
  padding-bottom: 18px;
}
.hotel-info__stars {
  width: 48px;
  flex-basis: 100%;
}
.hotel-info__stars img {
  width: 8px;
  height: 8px;
}
.hotel-info__name {
  text-transform: uppercase;
  margin: 4px 0 0 0;
  font-size: 24px;
  line-height: 30px;
}
.hotel-info__bio {
  font-size: 12px;
  line-height: 15px;
}
.hotel-info-rating {
  max-width: 65px;
  min-height: 45px;
  padding: 8px 6px;
  background-color: #EC1F46;
  color: #fff;
  border-radius: 3px;
  text-align: center;
}
.hotel-info__label-sale {
  margin: 5px 0 0 16px;
}
.hotel-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hotel-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hotel-booking {
  padding: 31px 28px 23px 27px;
  display: flex;
  flex-direction: column;
  min-width: 350px;
  background-color: #0A223D;
  color: #fff;
  border-radius: 8px;
  margin-bottom: 24px;
}
.hotel-booking__price {
  max-width: 86px;
  display: flex;
  flex-direction: column;
  font-family: Nunito;
}
.hotel-booking__price-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.hotel-booking__price-text {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
}
.hotel-booking__price-tag {
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
}
.hotel-booking__price-pn {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}
.hotel-booking__pers-room {
  margin-top: 4px;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 80px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}
.hotel-booking__guest {
  margin-bottom: 8px;
}
.hotel-booking__guest, .hotel-booking__room {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.hotel-booking__image {
  width: 14px;
  height: 14px;
}
.hotel-booking__connection-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}
.hotel-booking__connection-text {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}
.hotel-booking__connection-call {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
  color: inherit;
}
.hotel-booking__button {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  min-height: 45px;
  width: 295px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.hotel-map {
  border-radius: 10px;
  overflow: hidden;
}
.hotel-slider {
  width: 730px;
  height: 450px;
  margin: 0;
}
.hotel-slider__item {
  width: 100%;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}
.hotel-slider__item::after {
  z-index: 1;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%);
}
.hotel-slider__button {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  width: 30px;
  height: 30px;
  border: none;
  z-index: 99;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}
.hotel-slider__button--next {
  right: 18px;
  background-image: url(../img/arrow-next.svg);
  background-size: 10px;
}
.hotel-slider__button--prev {
  left: 18px;
  background-image: url(../img/arrow-prev.svg);
}
.hotel-slider__image {
  width: 100%;
  height: 100%;
}

.rating-text {
  font-size: 8px;
  line-height: 10px;
}
.rating-counter {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
}

.label-sale {
  padding: 3px 9px;
  background-color: #EC1F46;
  color: #fff;
  border-radius: 3px;
  font-size: 10px;
  line-height: 13px;
}

.newsletter {
  padding: 98px 0 87px 0;
  position: relative;
}
.newsletter::before {
  background-color: rgba(10, 34, 61, 0.8);
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.newsletter-wrapper {
  position: relative;
  color: #fff;
  font-family: Mulish;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  max-width: 731px;
}
.newsletter-title {
  margin: 0;
  max-width: 242px;
}
.newsletter-title__common {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
}
.newsletter-title__strong {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 45px;
  text-transform: uppercase;
}

.subscribe {
  position: relative;
  width: 350px;
  height: 55px;
  overflow: hidden;
  border-radius: 4px;
}
.subscribe__input {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-left: 33px;
  padding-right: 85px;
  border: none;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
}
.subscribe__button {
  border: none;
  height: 100%;
  min-width: 65px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 18px;
  background-color: #EC1F46;
  color: #fff;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  cursor: pointer;
}

.reviews {
  padding: 40px 0 60px 0;
  font-family: Mulish;
  max-height: 550px;
  overflow: auto;
}
.reviews__title {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 70px;
}
.reviews-slider {
  height: 100%;
  min-height: 280px;
}
.reviews-slider__profile {
  margin-top: -45px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reviews-slider__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  max-width: 730px;
  margin: 45px auto 0;
  padding: 0 62px 30px;
  position: relative;
}
.reviews-slider__item:after {
  content: "";
  background-image: url(../img/quote-1.svg);
  z-index: 10;
  background-repeat: no-repeat;
  width: 70px;
  height: 48px;
  position: absolute;
  top: 12px;
  left: 62px;
}
.reviews-slider__item:before {
  content: "";
  background-image: url(../img/quote-2.svg);
  background-repeat: no-repeat;
  width: 70px;
  height: 48px;
  position: absolute;
  top: 118px;
  right: 62px;
}
.reviews-slider__avatar {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  margin-bottom: 8px;
  -o-object-fit: cover;
     object-fit: cover;
}
.reviews-slider__username {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #EC1F46;
  margin-bottom: 9px;
}
.reviews-slider__date {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  color: #000;
}
.reviews-slider__text {
  margin: 27px 0 0 3px;
  max-width: 537px;
  min-height: 114px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 19px;
  text-align: justify;
  color: #333333;
}
.reviews-slider__button {
  top: 27%;
  position: absolute;
  width: 30px;
  height: 30px;
  z-index: 99;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}
.reviews-slider__button--next {
  right: 18px;
  background-image: url(../img/arr-next.svg);
}
.reviews-slider__button--prev {
  left: 18px;
  background-image: url(../img/arr-prev.svg);
}

.activities {
  padding: 60px 0 98px 0;
}
.activities-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.activities__title {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 57px;
}

.card {
  border-radius: 6px;
  width: 255px;
  height: 255px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  position: relative;
  padding: 24px 26px;
  transition: all 0.25s;
}
.card::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(179.83deg, rgba(196, 196, 196, 0) 35.34%, #0A223D 99.85%);
}
.card__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -2;
}
.card__image::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(179.83deg, rgba(196, 196, 196, 0) 35.34%, #0A223D 99.85%);
}
.card__title {
  max-width: 200px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  margin: auto 0 18px 0;
}
.card__button {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  border: none;
  border-radius: 4px;
  padding: 7px 22px;
  color: #fff;
  background-color: #EC1F46;
  cursor: pointer;
  transition: all 0.25s;
}
.card__button:hover {
  transform: translateY(-5px);
}

.footer {
  background-color: #0A223D;
  color: #fff;
  padding: 108px 0 46px;
}
.footer-wrapper {
  display: grid;
  grid-template-columns: repeat(4, minmax(-webkit-min-content, 1fr));
  grid-template-columns: repeat(4, minmax(min-content, 1fr));
  grid-gap: 20px;
  grid-auto-rows: minmax(40px, -webkit-min-content);
  grid-auto-rows: minmax(40px, min-content);
  align-items: start;
}
.footer__title {
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  margin: 0 0 16px 0;
}
.footer__title--inline {
  margin: 0 43px 0 0;
}
.footer__title--mb3 {
  margin-bottom: 34px;
}
.footer__list {
  margin: 0;
  padding: 0;
}
.footer__logo {
  width: 166px;
  height: 192px;
  grid-row: 1/3;
}
.footer__logo-image {
  width: 166px;
  height: 192px;
}
.footer__categories {
  grid-row: 1/4;
}
.footer__social-network {
  display: flex;
  align-items: center;
  grid-row: 2/4;
  grid-column: span 2;
}
.footer__social-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 83px;
}
.footer__social-link {
  width: 24px;
  height: 24px;
  transition: all 0.25s;
}
.footer__social-link:hover {
  transform: scale(1.2);
}
.footer__contact {
  grid-column: span 2;
}
.footer__contact-form {
  grid-column: span 2;
  margin-bottom: 95px;
}
.footer__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 540px;
}
.footer__item {
  color: #BDBDBD;
  list-style: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  align-items: center;
}
.footer__item--mb2 {
  margin-bottom: 20px;
}
.footer__link {
  color: inherit;
  text-decoration: none;
}
.footer__link:hover {
  color: #ffffff;
}
.footer__ul {
  padding: 0;
  margin: 0;
}
.footer__text {
  color: #BDBDBD;
}
.footer__text--inline {
  margin: 0 0 22px 0;
}
.footer__icon {
  width: 18px;
}
.footer__icon-email {
  height: 20px;
  width: 20px;
}
.footer__icon-phone {
  width: 23px;
  height: 23px;
}
.footer__icon-geo {
  width: 24px;
  height: 24px;
}
.footer__icon-wrapper {
  min-width: 40px;
}
.footer__input {
  width: 100%;
  max-width: 255px;
  border-radius: 4px;
  background-color: #fff;
  border: none;
  padding: 18px 23px;
}
.footer__input-wrapper {
  width: 100%;
  max-width: 540px;
  display: flex;
  justify-content: space-between;
}
.footer__input-group {
  width: 100%;
  max-width: 255px;
}
.footer__textarea {
  min-height: 123px;
  padding: 18px 23px;
  flex-basis: 100%;
  margin: 15px 0 22px 0;
}
.footer__button {
  border-radius: 4px;
  border: none;
  background-color: #EC1F46;
  color: #fff;
  width: 160px;
  min-height: 50px;
  cursor: pointer;
}
.footer__warning {
  color: #e0e0e0;
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 40%;
  max-width: 696px;
}
.footer-bottom__links {
  display: flex;
  justify-content: space-between;
  width: 283px;
}
.footer-bottom__link {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-decoration: none;
  color: #fff;
}
.footer-bottom__image {
  width: 136px;
  height: 22px;
}

.modal__window {
  max-width: 478px;
  padding: 33px 87px;
  display: flex;
  flex-wrap: wrap;
  background-color: #0A223D;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;
  border-radius: 8px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s;
}
.modal__window--visible {
  opacity: 1;
  visibility: visible;
}
.modal__overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(0, 143, 223, 0.39);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s;
}
.modal__overlay--visible {
  opacity: 1;
  visibility: visible;
}
.modal__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.modal__input {
  max-width: 302px;
  width: 100%;
  margin-top: 15px;
}
.modal__textarea {
  margin: 15px 0;
  padding: 18px 23px;
  min-height: 123px;
  max-width: 302px;
  width: 100%;
}
.modal__button {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  padding: 18px 65px;
}
.modal__warning {
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
}
.modal__close {
  position: absolute;
  right: 18px;
  top: 17px;
  text-decoration: none;
  cursor: pointer;
}
.modal__title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #fff;
  text-transform: uppercase;
  margin: 0 auto 15px;
  text-align: center;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .hotel-slider {
    max-width: 600px;
  }
  .activities__card {
    width: 230px;
    height: 230px;
  }
  .footer__input {
    width: 100%;
    max-width: 225px;
  }
  .footer__input-wrapper {
    width: 100%;
    max-width: 470px;
  }
  .footer__input-group {
    width: 100%;
    max-width: 225px;
  }
}
@media (max-width: 992px) {
  .container, .newsletter-wrapper {
    max-width: 700px;
  }
  .logo, .logo__image {
    width: 133px;
    margin-right: 0;
  }
  .navbar-top {
    padding: 30px 0;
  }
  .navbar-menu {
    padding: 22px 0;
  }
  .navbar-menu__link {
    font-size: 12px;
    line-height: 15px;
  }
  .navbar__search {
    margin-right: 50px;
  }
  .hotel-slider {
    max-width: 700px;
  }
  .hotel-grid {
    align-items: flex-start;
    flex-direction: column;
  }
  .hotel-slider {
    margin-bottom: 30px;
  }
  .hotel-right {
    flex-direction: row;
  }
  .hotel-booking {
    min-width: 340px;
    padding: 29px 22px 26px 22px;
    margin: 0 20px 0 0;
  }
  .hotel-booking__view-link {
    font-size: 13px;
  }
  .hotel-map {
    width: 340px;
  }
  .activities {
    padding: 60px 0 70px 0;
  }
  .activities-wrapper {
    max-width: 700px;
    flex-wrap: wrap;
  }
  .activities__card {
    margin-bottom: 20px;
  }
  .card {
    width: 339px;
    height: 255px;
  }
  .footer {
    padding: 73px 0 111px;
  }
  .footer-wrapper {
    grid-template-columns: repeat 6, 1fr;
    grid-row-gap: 40px;
  }
  .footer__logo {
    grid-row: 1/2;
    grid-column: span 2;
    width: 104px;
  }
  .footer__social-network {
    grid-row: 1/2;
    grid-column: span 4;
    align-self: center;
  }
  .footer__categories {
    grid-row: 2/3;
    grid-column: span 2;
  }
  .footer__legal-information {
    grid-column: span 2;
  }
  .footer__add-information {
    grid-column: span 2;
  }
  .footer__contact {
    grid-column: span 5;
    grid-row: 3;
  }
  .footer__contact-form {
    grid-column: span 5;
    grid-row: 4;
  }
  .footer__input {
    width: 100%;
    max-width: 255px;
  }
  .footer__input-wrapper {
    width: 100%;
    max-width: 540px;
  }
  .footer__input-group {
    width: 100%;
    max-width: 255px;
  }
  .footer-bottom {
    margin-left: 0;
    max-width: 698px;
  }
  .modal__window {
    padding: 40px;
  }
  .modal__form {
    display: flex;
    align-items: center;
  }
  .modal__input, .modal__textarea {
    min-width: 100%;
  }
}
@media (max-width: 768px) {
  .container, .newsletter-wrapper {
    max-width: 576px;
  }
  .navbar-top {
    position: fixed;
    max-width: 576px;
    width: 100%;
    z-index: 99;
  }
  .navbar::before {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    content: "";
    width: 100%;
    height: 78px;
    background-color: #ffffff;
    z-index: 98;
  }
  .navbar__user--mobile-hidden, .navbar__search--mobile-hidden {
    display: none;
  }
  .navbar__user--mobile-visible, .navbar__search--mobile-visible {
    display: flex;
    margin-right: 0;
  }
  .navbar__user--mobile-visible {
    flex-direction: column;
  }
  .navbar .menu-btn__line {
    transition: all 0.25s;
  }
  .navbar .menu-open:nth-child(1) {
    transform-origin: top left;
    transform: translate(3px, 2px) rotate(45deg);
  }
  .navbar .menu-open:nth-child(2) {
    transform: translateX(10px) scale(0);
  }
  .navbar .menu-open:nth-child(3) {
    transform-origin: bottom left;
    transform: translate(3px, -2px) rotate(-45deg);
  }
  .navbar-bottom {
    display: none;
  }
  .navbar-bottom__visible {
    width: 100%;
    display: flex;
    position: fixed;
    top: 78px;
    padding-top: 30px;
    z-index: 90;
  }
  .navbar-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .navbar-menu__item {
    margin-bottom: 20px;
  }
  .navbar-menu__item--mobile-visible {
    display: block;
    margin-bottom: 12px;
    width: 243px;
  }
  .navbar-menu__item:last-child {
    margin-bottom: 0;
  }
  .navbar-top {
    justify-content: space-between;
  }
  .navbar-top__menu-btn {
    padding: 0;
    display: flex;
  }
  .navbar__mobile_fixed {
    max-width: 768px;
    z-index: 99;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
  }
  .user__name {
    margin: 10px 0 0 0;
    color: #fff;
  }
  .menu-btn {
    width: 16px;
    height: 16px;
    background-color: #fff;
    border: none;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .menu-btn__line {
    width: 16px;
    height: 1px;
    background-color: #333333;
  }
  .breadcrumbs {
    padding-top: 78px;
  }
  .hotel-wrapper {
    justify-content: space-between;
  }
  .hotel-slider {
    width: 100%;
    height: 350px;
  }
  .hotel-right {
    flex-direction: column;
    width: 100%;
    height: 450px;
  }
  .hotel-booking {
    margin: 0;
  }
  .hotel-booking__button {
    width: 100%;
  }
  .hotel-info__text {
    width: 100%;
  }
  .hotel-info__name {
    margin: 10px 0 0 0;
    flex-basis: 100%;
  }
  .hotel-info__stars {
    max-width: 57px;
  }
  .hotel-info-rating {
    display: none;
  }
  .hotel-info__label-sale {
    order: -1;
    margin: 0;
  }
  .hotel-booking, .hotel-map {
    width: 100%;
  }
  .reviews-slider__item:after, .reviews-slider__item:before {
    display: none;
  }
  iframe {
    width: 100%;
  }
  .newsletter-wrapper {
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .newsletter-title {
    display: flex;
    max-width: 242px;
    flex-wrap: wrap;
    margin: 0 0 35px 0;
  }
  .reviews {
    padding: 40px 0 45px;
  }
  .reviews__title {
    margin-bottom: 50px;
    font-size: 30px;
    line-height: 38px;
  }
  .reviews-slider__item {
    max-width: 579px;
  }
  .reviews-slider__profile {
    margin-top: -45px;
    margin: -45px 0 32px 0;
  }
  .reviews-slider__text {
    max-width: 455px;
  }
  .activities-wrapper {
    justify-content: space-between;
  }
  .card {
    width: 49%;
    height: 255px;
  }
  .map-wrapper {
    width: 100% !important;
  }
  .footer__input {
    width: 100%;
    max-width: 205px;
  }
  .footer__input-wrapper {
    width: 100%;
    max-width: 540px;
  }
  .footer__input-group {
    width: 100%;
    max-width: 205px;
  }
  .modal__window {
    min-width: 345px;
    padding: 40px;
  }
  .modal__form {
    display: flex;
    align-items: center;
  }
  .modal__input, .modal__textarea {
    min-width: 100%;
  }
}
@media (max-width: 576px) {
  .container {
    width: 90%;
  }
  .logo, .logo__image {
    width: 99px;
  }
  .navbar-top {
    width: 90%;
  }
  .hotel-slider {
    width: 100%;
    height: 250px;
  }
  .hotel-booking {
    min-width: 280px;
    margin-bottom: 20px;
  }
  .subscribe {
    width: 100%;
  }
  .newsletter-wrapper {
    width: 90%;
  }
  .newsletter-title {
    margin-bottom: 37px;
  }
  .newsletter-title__common {
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
  }
  .newsletter-title__strong {
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
  }
  .reviews {
    padding: 40px 0 50px;
  }
  .reviews__title {
    margin-bottom: 42px;
    font-size: 18px;
    line-height: 23px;
  }
  .reviews-slider__item {
    padding: 0 31px 36px;
    min-width: 280px;
    width: 100%;
  }
  .reviews-slider__profile {
    position: relative;
    margin: -45px 0 33px 0;
  }
  .reviews-slider__text {
    min-width: 219px;
    width: 100%;
  }
  .reviews-slider__button {
    top: 32px;
  }
  .reviews-slider__button--prev {
    left: 50%;
    margin-left: -65px;
    transform: translate(-50%, 0);
  }
  .reviews-slider__button--next {
    right: 50%;
    margin-right: -65px;
    transform: translate(50%, 0);
  }
  .activities {
    padding: 40px 0 60px 0;
  }
  .activities__title {
    margin-bottom: 36px;
  }
  .card {
    width: 100%;
    min-width: 280px;
    height: 255px;
    margin-bottom: 20px;
  }
  .card:last-child {
    margin-bottom: 0;
  }
  .card:nth-child(2) {
    margin-bottom: 28px;
  }
  .footer {
    padding-bottom: 21px;
  }
  .footer-wrapper {
    grid-template-columns: 1fr;
  }
  .footer__logo {
    grid-row: 1;
    grid-column: 1;
  }
  .footer__social-network {
    grid-row: 2;
    grid-column: 1;
  }
  .footer__categories {
    grid-row: 5;
    grid-column: 1;
  }
  .footer__add-information {
    grid-row: 4;
    grid-column: 1;
  }
  .footer__legal-information {
    grid-row: 3;
    grid-column: 1;
  }
  .footer__contact {
    grid-row: 6;
    grid-column: 1;
  }
  .footer__contact-form {
    grid-row: 7;
    grid-column: 1;
    margin-bottom: 30px;
    flex-basis: 100%;
  }
  .footer__input, .footer__textarea {
    min-width: 280px;
  }
  .footer__input {
    width: 100%;
    max-width: 100%;
  }
  .footer__input-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
  }
  .footer__input-group {
    width: 100%;
    max-width: 100%;
    margin-bottom: 15px;
  }
  .footer__textarea {
    width: 100%;
    min-width: 280px;
    margin: 0 0 15px 0;
  }
  .footer__form {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .footer__warning {
    order: 0;
    margin-bottom: 15px;
  }
  .footer__button {
    order: 1;
  }
  .footer-bottom {
    width: 280px;
    flex-wrap: wrap;
  }
  .footer-bottom__links {
    width: 277px;
    margin-bottom: 10px;
  }
  .modal__window {
    width: 100%;
    padding: 30px;
  }
}/*# sourceMappingURL=style.css.map */